body{
    position: relative;
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    }
.about{
    margin-bottom: 100px;
    height: 150px;
    padding-left: 10%;
    background-image: url(../image/1234.png);
    background-size: cover;
    background-position:center;
    }
.about>h1{
    font-size:4rem;
    margin: 0;
    padding-top: .5em;
}
/*---------------------------------------------------------------*/
.one{
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
    position: relative;
}
.one:after{
    content: '';
    height: 30vh;
    width: 100vw;
    background: linear-gradient(to right,rgb(255, 124, 124),#f72323);
    position: absolute;
    left:-13.2%;
    bottom: 40%;
    z-index: -1;
    transform:skewY(20deg);
}
.img{
    width: 15vw;
    height: 80vh;
    background-image: url(../image/808c4106387f2f29a757cc7dc83f0488.jpg);
    filter: grayscale(5);
    background-position: -35px;
    background-repeat: no-repeat;
    background-size:cover;
    float: right;
}
.img_two{
    width: 60vw;
    height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(../image/rain-2538429_1920.jpg);
    float: left;
}
.content{
    font-size: 0.8rem;
    float: right;
    font-style: italic;
    display: inline-block;
    position: relative;
    width: 300px;
    top: 80px;
    right: 200px;
}
.title{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    position: relative;
    float: left;
    top:50px;
    left: 10%;
    display: inline-block;
}
.content_two{
    font-style: italic;
    font-size: 0.8rem;
    float: right;
    display: inline-block;
    position: relative;
    width: 300px;
    top: 250px;
    left:100px;
}
/*-------------------------------2번시작--------------------------*/
.two{
    clear: both;
    position: relative;
    top: 50px;
    width: 80vw;
    margin: 0 auto;
    height: 100vh;
}
.two:before{
    content: '';
    height: 10vh;
    width: 45vw;
    background: linear-gradient(to right,#73b8fd,aquamarine);
    position: absolute;
    left:-13.2%;
    top:400px;
    transform: rotate(90deg);
    z-index: -1;
}
.two:after{
    content: '';
    height: 10vh;
    width: 80vw;
    background: linear-gradient(to right,#73b8fd,aquamarine);
    position: absolute;
    left:-13.2%;
    top:200px;
    z-index: -1;
}
.pic{
    width: 80vw;
    height: 40vh;
    background-image: url(../image/the-rain-logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container h2{
    font-size: 2rem;
    position: relative;
    display: inline-block;
    left: 5%;
    top: 80px;
    margin-bottom: 50px;
}
.container p{
    font-size: 0.8rem;
    display: inline-block;
    width: 500px;
    position: relative;
    left: 20%;
    top: 80px;
}
/*------------------------------------------------------------------*/
.three{
    width: 80vw;
    height: 100vh;
    margin: 200px auto;
    margin-top: 300px;
    position: relative;
}
.three:before{
    content: '';
    height: 10vh;
    width: 100vw;
    background: linear-gradient(to right,#73b8fd,aquamarine);
    position: absolute;
    left:-13.2%;
    top:200px;
    transform: skewY(-25deg);
    z-index: -1;
}
.three:after{
    content: '';
    height: 10vh;
    width: 100vw;
    background: linear-gradient(to right,#73b8fd,aquamarine);
    position: absolute;
    left:-13.2%;
    top:50px;
    transform: skewY(25deg);
    z-index: -1;
}
.three p{
    position: relative;
    bottom: 300px;
    width: 500px;
    display: inline-block;
}
.item1{
    display: inline-block;
    width: 50%;
    height: 80%;
    background-image: url(../image/rain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.item2{
    margin-left: 5%;
    width: 40%;
    display: inline-block
}
.item2 h2{
    font-size: 2rem;
    position: relative;
    bottom: 300px;
}
/*-------------------------------------------------------------------*/
.four{
    text-align: right;
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}
.four:after{
    content: '';
    height: 50vh;
    width: 100vw;
    background: linear-gradient(to right,orangered,yellow);
    position: absolute;
    left:-13.2%;
    bottom: 40%;
    z-index: -1;
    transform:skewY(-15deg);
}
.box{
    width: 33%;
    height: 50%;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
}
.box.first{background-image: url(../image/rain_street.jpg);}
.box.second{ background-image: url(../image/black.jpg);}
.item3{
    width: 500px;
    position: relative;
    bottom:300px;
    text-align: left;
}
.item3>h2{
    font-size: 2rem;
}
.item3>p{
    font-size: 0.8rem;
}
/*--------------------------------*/
footer{
    height: 15vh;
    width: 100%;
    background-color: #000000;
    position: absolute;
    bottom: 0px;
    display: block;
}