<!DOCTYPE html>
<html lang="ko">
<head>
   <meta charset="utf-8">
   <title>Background study</title>
    <style>
		.container{
			height:100vh;
			position:relative;
			border:5px solid red;
			background-color:red;
		}
		.box{
			position:absolute;
			background-color:blue;
			top:-2em;
			width:50%;
			height:40vh;
			box-shadow:15px 15px 4rem rgba(0,0,0,0.7);
		}
        
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="./parallaxscrolling.js"></script>
</head>
<body>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
		
		<div class="container">
			<div class="box"></div>
		</div>
	
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	
</body>
</html>